<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Duck Bot | Error</title>
	</head>
	<body>
		<span
			>Unfortunatily an error occured. Try refreshing the page and if that does not work, then please click the following link and reauthorize:</span
		>
		<br />
		<a href="<%= url %>">Login</a>
		<br /><br />
		<span>Error:</span>
		<br />
		<span><%= error %></span>
	</body>
</html>
