:root {
   --font: #eeeeee;
   --back-prim: #373a40;
   --back-sec: #686d76;
   --accent: #dc5f00;
}

* {
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
   color: var(--font);
}

body {
   background: var(--back-prim);
}

.round-corners {
   border-radius: 15px;
}
