#guilds {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
}

#user-name {
   color: var(--accent);
   text-decoration: underline;
}

.guild {
   margin-bottom: 5px;
   padding: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: black;
   background: var(--back-sec);
}

.guild img {
   width: 128px;
   height: 128px;
   border-radius: 50%;
   margin-right: 5px;
}
