.user img {
	width: 64px;
	height: 64px;
}

#guild img {
	width: 128px;
	height: 128px;
}

#guild img,
.user .info img {
	border-radius: 50%;
	margin-right: 5px;
	border: 1px solid black;
}

#guild,
.user {
	border: 1px solid black;
	margin-bottom: 5px;
	padding: 2px;
	text-decoration: none;
	color: black;
}

.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#guild,
.info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.buttons * {
	cursor: pointer;
}
